.Signup{
    margin-top: 50px;
}
.Signup-content{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    display: inline-block;
}
.Signupbtn{
    margin-top: 30px;
}
p{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: #024f9d;

}